[Unit]
Description=Sync dotfiles every 6 hours

[Timer]
OnBootSec=5min
OnUnitActiveSec=6h
Persistent=true
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target