{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}

[git]
  autoCommit = false
  autoPush = false

[diff]
  pager = "delta"

[edit]
  command = "nvim"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = ""  # Run: age-keygen to generate, add public key here