{{- $email := "" -}}
{{- $name := "" -}}
{{- if hasKey .chezmoi.config.data "email" -}}
{{-   $email = .chezmoi.config.data.email -}}
{{- end -}}
{{- if hasKey .chezmoi.config.data "name" -}}
{{-   $name = .chezmoi.config.data.name -}}
{{- end -}}
{{- if not $email -}}
{{-   $email = promptString "Email address" -}}
{{- end -}}
{{- if not $name -}}
{{-   $name = promptString "Full name" -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}

[git]
  autoCommit = false
  autoPush = false

[diff]
  pager = "delta"

[edit]
  command = "nvim"